# C++ / Visual Studio Junk 
.vs/
.idea/
out/
build/
x64/
Debug/
Release/
*.user
*.aps
*.idb
*.ncp
*.obj
*.pch
*.sbr
*.tlog
*.pdb
*.ilk
*.exe

python/engine/reminders.json
python/engine/known_faces/

# Python Specific 
python/venv/
python/synapse_env/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.env

# tsx wali
frontend/visualizer-app/.next
frontend/visualizer-app/node_modules
frontend/visualizer-app/dist/
frontend/visualizer-app/out/
node_modules/

# Database files (Ye lock hoti hain)
*.db
*.sqlite3
# Build/Compile Kachra (Ye VS lock karta hai)
cmake-build-*/
.git/*.lock
# Python Cache
__pycache__/

# AI Models ( DO NOT COMMIT)
*.pt
*.pth
*.onnx
*.weights
*.bin
*.h5
*.tflite
models/
python/engine/buffalo_l/
python/engine/yolov8n.pt

# --- Temporary Media Files ---
*.wav
*.mp3


*.avi
*.mp4
temp_audio.wav
response.mp3
trinetra.db
vision_pro.db

# OS Specific 
.DS_Store
Thumbs.db